{"test":{
                                        "input": {
                                                            
                                        "node-sweep":{
                                            "range":[1490]
                                           
                                         
                                           
                                            
                                            
                                            
                                                        },
                                            "SMTBF-sweep":{
                                                            "compute-SMTBF-from-NMTBF":true, 
                                                           "formula":"128736000 * (1/i)", "range":[1,5]
                                                           
                                                                                       
                                                          },
                                            "checkpoint-sweep":{
                                                                    "range":["optimal"]
                                                                },
                                            "performance-sweep":{
                                                                    "range":[1.0]
                                                                },
                                            "checkpointing-on":true, "seed-failures":true, 
                                            "synthetic-workload":{
                                                                "number-of-jobs":30000,
                                                               
                                                                "number-of-resources":"/home/sim/basefiles/workload_types/wl2.csv:0:csv", 
                                                                "duration-time":"/home/sim/basefiles/workload_types/wl2.csv:1:h:csv", 
                                                                "submission-time":"0:fixed", 
                                                                "wallclock-limit":-1, "dump-time":"3%", 
                                                                "read-time":"2%"
                                                                 }
                                        },
                                        "output": {
                                            "AAE":true, "avg-makespan":20

                                        
                                        }
}}
 
