{
        "5x":{
                                        "input": {
                                                            
                                        "node-sweep":{
                                            "range":[1490]
                                          
                                                        },
                                            "SMTBF-sweep":{
                                                            "compute-SMTBF-from-NMTBF":true, 
                                                           "formula":"128736000 * (1/i)", "range":[5]
                                                                                
                                                          },
                                            "checkpoint-sweep":{
                                                                    "range":["optimal"]
                                                                },
                                            "performance-sweep":{
                                                                    "range":[1.0]
                                                                },
                                            "checkpointing-on":true, "seed-failures":true, 
                                            "synthetic-workload":{
                                                                "number-of-jobs":500,
                                                               
                                                                "number-of-resources":"/home/sim/basefiles/workload_types/wl6.csv:0:csv", 
                                                                "duration-time":"/home/sim/basefiles/workload_types/wl6.csv:1:h:csv", 
                                                                "submission-time":"0:fixed", 
                                                                "wallclock-limit":-1, "dump-time":"3%", 
                                                                "read-time":"2%"
                                                                 }
                                        },
                                        "output": {
                                             "pass-fail":[20000,1.0645,128736000,2]

                                        
                                        }
}}
